body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: #212121;
}

.img-nav {
  width: 48px;
}

.cards {
  margin-top: 3rem;

}

.card-model {
  width: 160px;
  height: 154px;
  border-radius: 30px;
  background: #212121;
  box-shadow: 15px 15px 30px rgb(25, 25, 25),
    -15px -15px 30px rgb(60, 60, 60);
  opacity: .4;
}

.card-model:hover {
  opacity: 1;
  transition: 1s;
}

.card-a {
  text-decoration: none;
}

.h-model {
  margin-top: .5rem;
  color: white;
}

.card-img {
  width: 5rem;
}

.h-model-l {
  margin-top: -1rem;
  margin-bottom: 1rem;
}